.main-info {
    margin-top: 160px;
}

.main-info-title {
    margin-top: 100px;
    
}

.main-info-title > span {
    font-size: 50px;
    display: block;
}

.main-info-text-container {
    margin-top: 40px;
    margin-bottom: 60px;
}