.artist-info-logo {
    margin: 0;
    margin-right: 10px;
    float: left;
    clear: left;
}

.artist-info-logo img {
    max-width: 90px;
}

.artist-info-text {
    margin-top: 0px 20px;
}

.loader-wrapper {
    position: absolute;
    text-align: center;
    /* margin: auto;
    left: 40%;
    top: 0;
    right: auto;
    bottom: auto; */
    width: fit-content;
}