/*_____________________________________- Common Rules -_________________________________________*/

.title {
    color: #ddd;
    font-weight: 300;
}

.text {
    font-size: 18px;
    font-weight: lighter;
    line-height: 150%;
    color: #bbb;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
   
}

.info-container {
    margin-top: 100px;
    border-bottom: 3px solid #111;
    position: relative;
    padding: 0;
}

.info-container .title {
    font-size: 50px;
}


/*_____________________________________- Grid Rules -________________________________________*/
/* header {
    grid-area: "header";
}

.main-info {
    grid-area: "main-info"
}

#search-form {
    grid-area: "search-form";
}

footer {
    grid-area: "footer"; 
}
/*______________________________________________________________________________________________*/
