
/*_____________________________________- Common Rules -_________________________________________*/

.title {
    color: #ddd;
    font-weight: 300;
}

.text {
    font-size: 18px;
    font-weight: lighter;
    line-height: 150%;
    color: #bbb;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
   
}

/*_____________________________________- Grid Rules -________________________________________*/
header {
    grid-area: "header";
}

.main-info {
    grid-area: "main-info"
}

#search-form {
    grid-area: "search-form";
}

footer {
    grid-area: "footer";
}
/*______________________________________________________________________________________________*/
