.container {
    margin: 0 auto;
    width: 100%;
    height: 750px;
    border: 2.5px solid #9e9;
    border-radius: 2px;
    padding: 10px;
    background: #222;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-sizing: border-box;
    position: relative;

    grid-template-areas:
    "header"
    "main-info"
    "search-form"
    "footer";
}

header footer {
    border-width: 3px;
}

/*_____________________________________- Grid Rules -________________________________________*/
header {
    grid-area: "header";
}

.main-info {
    grid-area: "main-info"
}

#search-form {
    grid-area: "search-form";
}

footer {
    grid-area: "footer";
}
/*______________________________________________________________________________________________*/
